{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" >
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		{% if ENVIRONMENT == 'development' %}
            <link rel="stylesheet" media="screen" type="text/css" href="{% static "css/bootstrap.css" %}" />
            <link rel="stylesheet" media="screen" type="text/css" href="{% static "css/custom.css" %}" />
            <script src="{% static "js/jquery.js" %}"></script>
            <script src="{% static "js/bootstrap.js" %}"></script>            
            <script src="{% static "js/custom.js" %}"></script>
        {% else %}
            <link rel="stylesheet" media="screen" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
            <link rel="stylesheet" media="screen" type="text/css" href="{% static "css/custom.min.css" %}" />
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>            
            <script src="{% static "js/custom.min.js" %}"></script>
        {% endif %}
	</head>
<body>

<!-- Container -->
<div id="container">
    <!-- Header -->    
    {% include 'includes/header.html' %}
    <!-- END Header -->
    
    <!-- Content -->
    {% block content %}
    <div id="content" class="main-content">
        <div id="left_column" class="left-column">
        	{% block left_column %}
        	{% endblock %}            
        </div>
        <div id="right_column" class="right-column">
        	{% block right_column %}
        	{% endblock %}
        </div>
        <br class="clear" />
    </div>
    {% endblock %}
    <!-- END Content -->

    <!-- Footer -->
    {% include 'includes/footer.html' %}
    <!-- END Footer -->
</div>
<!-- END Container -->

</body>
</html>
